<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lcb"
          android:versionCode="1"
          android:versionName="1.0.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22"/>

    <!--添加删除后台程序的权限-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <!--将Dialog设置成系统级别的权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <!-- WIFI相关权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!-- 防止UDP不能发送广播而要创建WifiManager.MulticastLock所需对象的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <!-- 使用摄像头的权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!-- 文件写入创建删除 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/> <!-- 读系统日志 -->


    <!-- 照片权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 萤石摄像头 -->
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/> <!-- 手电筒 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 收到消息时，让处理器不要睡眠。 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <!--  android:hardwareAccelerated="false"   禁止硬件加速-->
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/jx"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".guide.Welcome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wifi.WifiListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wifi.WifiInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wifi.WifiApActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".socket.SocketActivity"
            android:screenOrientation="portrait"/>
        <!-- MENU的效果实现的style添加到所在ACTIVITY里 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle"/>
        <activity
            android:name=".guide.Guide"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".account.Login"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".account.Register"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".account.ResetPwd"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.GetRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RefreshRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.VideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LocalVideoActivity"
            android:screenOrientation="portrait"/>

        <!-- 萤石摄像头 -->
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.EZCameraListActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.AutoWifiConnectingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.AutoWifiNetConfigActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.AutoWifiPrepareStepOneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.AutoWifiResetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.EZDeviceSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.EZMessageActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.EZMessageImageActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.EZRealPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.EZRemotePlayBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ezviz.act.EZUpgradeDeviceActivity"/>
        <activity
            android:name=".Ezviz.act.ModifyDeviceNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ezviz.act.PlayBackListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".Ezviz.act.SeriesNumSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Ezviz.zxing.CaptureActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".Ezviz.EzvizBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.videogo.action.ADD_DEVICE_SUCCESS_ACTION"/>
                <action android:name="com.videogo.action.OAUTH_SUCCESS_ACTION"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <!-- 底部 -->

        <activity
            android:name=".activity.AnimActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SpannableStringActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".activity.DownloadService"/>

        <activity
            android:name=".activity.chartViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--
        由于这个类继承了app,所以theme主题要属于这个类的一种，
        不然报错:java.lang.IllegalStateException: You need to use a Theme.AppCompat theme
        -->
        <activity android:name=".pickerview.PickviewActivity"/>
        <activity android:name=".pickerview.TimepickerActivity"/>
        <activity android:name=".activity.ChangeLanguageActivity"
            />
    </application>

</manifest>